@import "global";

body {
  background: $green-2;
  color: $white-1;
}

header {
  width: 100%;
  border-bottom: 2px solid $green-1;
  nav {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
    .logo {
      // background: #f2f2f2;
      height: 46px;
      width: 180px;
      img {
        height: 100%;
      }
    }

    .menu-btn {
      display: none;
    }
    .login-container {
      // border: 1px solid red;
      display: flex;
      flex-direction: row-reverse;
      input {
        margin-left: 8px;
      }
    }
  }
}

main {
  box-sizing: border-box;
  width: 100%;
  // align content vertically in center
  display: grid;
  align-content: center;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  // border: 1px solid red;

  .main-content {
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    // border: 1px solid red;
    .first,
    .second {
      font-size: 14px;
      h2 {
        font-size: 21px;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: $green-1;
      }
      input {
        margin-bottom: 26px;
      }
    }
    .middle {
      img {
        width: 100px;
        height: 100px;
        background: $green-2;
        margin: 20px;
      }
    }
    .btn {
      width: 200px;
      &:hover {
        background: $green-1;
        color: $green-2;
      }
    }
  }
}

footer {
  font-size: 14px;
  border-top: 2px solid $green-1;
  .footer-content {
    max-width: calc(1024px - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    a {
      text-decoration: none;
      color: $white-1;
      &:hover {
        text-decoration: underline;
      }
    }
    .section-1,
    .section-2,
    .section-3 {
      display: flex;
      align-items: center;
    }
    .section-1 a {
      margin-right: 16px;
    }
    .section-3 {
      a,
      p {
        margin-left: 10px;
      }
    }

    // Footer icons
    .section-2,
    .section-3 {
      .icon {
        width: 24px;
        img {
          width: 100%;
        }
      }
    }
    .icon {
      width: 24px;
      height: 24px;
      margin: 8px;
      // background: $green-1;
      background: transparent;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 900px) {
  header {
    border: none;

    nav {
      position: fixed;
      border-bottom: 2px solid $green-1;
      background: $green-2;
      // width: calc(100% - 40px);
      width: 100%;
      top: 0;
      .login-container {
        position: absolute;
        justify-content: flex-end;
        background: $green-2;
        // border: 2px solid $green-1;
        box-sizing: border-box;
        align-items: flex-end;
        width: 100%;
        right: 0;
        top: 56px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        // transform: scale(1, 0);
        transform: translateX(100%);
        opacity: 0;
        z-index: -1;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        input {
          margin: 4px;
        }
      }
      .nav-search input {
        width: 300px;
        max-width: 80vw;
      }
      .login-icon {
        img {
          width: 26px;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.3s ease-out;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  main {
    padding-top: 50px;
    height: auto;
    width: 100%;
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px auto;
      .first {
        margin-bottom: 50px;
      }
      .middle {
        margin: 50px 0;
      }
    }
  }

  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }

  footer {
    .footer-content {
      flex-direction: column;
      .section-1 {
        line-height: 50px;
      }
    }
  }

  .hide {
    display: none;
  }
}

// Modal
// Sign up Modal
/* The Modal (background) */
.modal-signup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // padding-top: 30px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: $white-1;
  color: black;
  margin: auto;
  padding: 20px 30px;
  padding-bottom: 4px;
  border: none;
  width: 300px;
  text-align: center;
  .btn {
    color: $green-4;
  }
  hr {
    width: 100%;
    outline: none;
    border: 1px solid $green-4;
  }
  a {
    color: $green-4;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h3 {
    font-size: 21px;
    font-weight: 500;
    color: black;
    margin-bottom: 12px;
  }
  p {
    font-size: 15px;
  }

  .social-login {
    display: flex;
    flex-direction: column;
    a {
      width: 300px;
      &:hover {
        text-decoration: none;
      }
      button {
        width: 100%;
        margin-top: 8px;
      }
    }
    .fb-login button {
      background: #2176f2;
      border: none;
      color: $white-1;
      font-weight: 600;
      letter-spacing: 0.4px;
    }
    .google-login button {
      background: $white-1;
      border: 2px solid #cfcfcf;
      color: #646464;
      font-weight: 600;
      letter-spacing: 0.3px;
    }
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      img {
        height: 24px;
      }
    }
  }
  .email-login {
    input {
      width: 270px;
      margin-bottom: 8px;
      transition: 0.3s ease-out;
    }
    margin-bottom: 8px;
  }
  .terms {
    .btn {
      width: 300px;
      color: $white-1;
      margin-top: 12px;
    }
  }
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// Log in

.modal-login {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  // padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  // border: 1px solid red;
  // box-sizing: border-box;
  .modal-content {
    margin: auto;
    .email-login {
      input[type="button"] {
        width: 300px;
      }
    }
  }
  /* The Close Button */
  .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
