@import "global";

body {
  background: $white-1;
  color: $black-1;
}

nav {
  background: $white-1;
  .logo {
    img {
      height: 100%;
      margin-right: 20px;
    }
    // border: 1px solid red;
    width: 300px !important;
  }
  .nav-right {
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
  }
  .nav-search {
    .search-box {
      font-family: Helvetica;
      position: relative;
      width: 360px;
      background-image: url("./assets/search2.svg");
      box-sizing: border-box;
      padding-left: 36px;
      background-repeat: no-repeat;
      background-position: 12px center;
      outline: 0;
    }
  }
}

.link-container {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid red;
  min-width: 300px;
  a {
    // border: 1px solid red;
    margin: 4px;
    text-decoration: none;
    color: $green-2;
    font-size: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    transition: 0.3s ease-out;
    .icon {
      width: 21px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  #profile-picture {
    display: flex;
    flex-direction: row;
    width: 60px;
    div {
      font-size: 12px;
    }
  }
  @media (max-width: 900px) {
    flex-direction: row;
  }
}

.wrapper-landing {
  min-height: 100%;
}
.landing {
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  &-main {
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .search {
    display: flex;
    justify-content: space-between;
    margin: 8px auto 26px auto;
    font-size: 12px;
    max-width: calc(1024px - 40px);
    padding: 0 20px;
    label {
      color: $green-4;
      cursor: pointer;
      transition: 0.3s ease-out;
      &:hover {
        opacity: 0.5;
      }
    }

    // dropdown
    ul {
      display: none;
      position: absolute;
      width: 127px;
      background: $white-1;
      border: 1px solid $green-4;
      padding: 0;
      margin-top: 4px;
      border-radius: 4px;
      li {
        list-style: none;
        margin: 10px 0;
        text-align: right;
        a {
          text-decoration: none;
          color: $green-4;
          padding: 8px;
          font-size: 12px;
          transition: 0.3s ease-out;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
    #checkbox {
      display: none;
    }
    #checkbox:checked + ul {
      display: block;
    }
  }
  &-main {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: block;
    grid-template-columns: 7fr 10fr 3fr;
    grid-gap: 20px;
    // border: 1px solid red;
    &-view {
      background: #f2f2f2;
      iframe {
        border: none;
        width: 100%;
        height: 100%;
      }
      // border: 1px solid red;
    }
    &-description {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #efecec;
      // border: 1px solid red;
      // .l-title {
      //   color: $green-4;
      // }
    }
    &-price {
      text-align: right;
      // border: 1px solid red;
    }
  }
}

// Text styling

.l {
  &-title {
    font-size: 21px;
  }
  &-sessions {
    font-size: 12px;
    margin: 0;
    margin-bottom: 16px;
    a {
      text-decoration: none;
      color: $green-4;
      padding: 8px;
      transition: 0.3s ease-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &-name {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 14px;
    color: $green-4;
    display: flex;
    .l-picture {
      background: $green-1;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      overflow: none;
    }
  }
  &-description {
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
  }
  &-rating {
    font-size: 15px;
    margin: 0;
    display: flex;
    .stars {
      margin-right: 4px;
    }
    .score {
      margin-left: 4px;
    }
    img {
      width: 16px;
    }
  }
  &-price {
    font-size: 21px;
    font-weight: 500;
    color: $green-4;
    margin: 0;
  }
  &-neg {
    font-size: 12px;
    margin: 0;
    margin-bottom: 8px;
    color: $green-4;
  }
  &-contact {
    font-size: 12px;
    margin: 0;
    height: 24px;
    width: 84px;
    color: $white-1;
    background: $green-4;
  }
}

footer {
  background: $white-1;
  .section-1 > a {
    color: $black-1;
  }
}

@media (max-width: 900px) {
  input[type="text"] {
    width: 300px;
  }
  body {
    margin-top: 60px;
  }
  header {
    border: none;
    margin-bottom: 55px;
  }
  nav {
    position: fixed;
    margin-top: -100px;
    border-bottom: 2px solid $green-1;
  }
  .nav-search {
    .search-box {
      min-width: 160px;
      width: 100% !important;
    }
  }
  .nav-right {
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0px;
    background: $white-1;
    // border: 1px solid black;
    padding: 40px 40px;
    box-sizing: border-box;
    width: 100%;
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    .link-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 20px;
      a {
        margin-right: 10px;
        padding: 10px 0;
      }
    }
  }

  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .nav-right {
    // border: 1px solid red;
    padding-right: 0px;
    .nav-search {
      .search-box {
        width: 100%;
      }
    }
  }
  .landing-main {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    &-view {
      grid-column-start: span 2;
      // grid-column-end: 2;
    }
    &-description {
      grid-column-start: 1;
    }
    &-price {
      grid-column-start: 2;
      justify-items: center;
      align-items: center;
    }
  }
  footer {
    .footer-content {
      height: auto;
    }
  }
}
