<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="./btm-nav.css" />
  </head>
  <body>
    <div class="btm-nav">
      <div class="btm-nav-wrapper">
        <div class="select active">
          <img src="../assets/home.svg" alt="" />
          <p>Home</p>
        </div>
        <div class="select">
          <img src="../assets/search.svg" alt="" />
          <p>Search</p>
        </div>
        <div class="select">
          <img src="../assets/add.svg" alt="" />
          <p class="post_skill">Post skill</p>
        </div>
        <div class="select">
          <img src="../assets/message.svg" alt="" />
          <p>Messages</p>
        </div>
        <div class="select">
          <img src="../assets/user.svg" alt="" />
          <p>Profile</p>
        </div>
      </div>
    </div>
  </body>
</html>
